[Unit]
Description=Weather Kiosk Application
After=network.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=OWM_API_KEY=98cea08ababd57c4fa475e6481b6f4c0
User=pi
WorkingDirectory=/home/pi/weatherpi
ExecStart=/usr/bin/python3 /home/pi/weatherpi/main.py
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target